[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-cors-headers = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
